<?xml version="1.0"?>
<model>
  <name>Simple Mobile Base</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Spencer Melnick</name>
   <email>smelnick97@gmail.com</email>
  </author>

  <description>
    A bare-bones robot for testing navigation
    systems in Gazebo.
  </description>
</model>