<?xml version="1.0" ?>
<model>
    <name>simple_mobile_base</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Spencer Melnick</name>
        <email>smelnick97@gmail.com</email>
    </author>
    <description>A bare-bones mobile robot base</description>
</model>
