<launch>
    <node pkg="gazebo_ros" type="gazebo" name="gazebo" />

    <param name="robot_description" textfile="$(find adns_robot)/urdf/adns_robot.urdf"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/adns_robot/joint_states" />
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="gazebo_spawn_robot" args="-file $(find adns_robot)/urdf/adns_robot.urdf -urdf -x 0 -y 0 -z 1 -model adns_robot" />
</launch>