<launch>
    <arg name="urdf_path" default="$(find adns_robot_sim)/models/urdf/adns_robot.urdf" />

    <node pkg="gazebo_ros" type="gazebo" name="gazebo" />

    <param name="robot_description" textfile="$(arg urdf_path)"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/adns_robot/joint_states" />
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="gazebo_spawn_robot" args="-file $(arg urdf_path) -urdf -x 0 -y 0 -z 1 -model adns_robot" />
</launch>